/* Body */

body {
    margin: 0;

    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

/* Header */

header {
    height: 100px;
    width: 100vw;
    position: absolute;
    align-items: center;
    display: flex;
    cursor: default;
}

.name {
    margin: 0 25px;
    position: absolute;
    left: 100px;

    font-size: 30px;
    font-weight: 300;
}

header nav {
    position: absolute;
    right: 100px;
}

header nav a {
    margin: 0 25px;
    transition: 0.1s;
    
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
}

header nav a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.selected {
    color: rgb(255, 255, 255, 0.5);
}

/* About page */

/* screen1 */

.screen1 {
    height: 100vh;
    background-color: rgb(30, 30, 30);
}

.main_text {
    position: absolute;
    top: 40vh;
    left: 20vw;
    width: 430px;

    font-size: 20px;
    font-weight: lighter;
}

.main_title {
    font-size: 40px;
    font-weight: 300;
    color: rgb(120, 120, 200);
}

.main_text nav {
    margin-top: 15px;
}

.main_text a {
    transition: 0.2s;
    margin-right: 5px;
    padding: 12px 20px;

    background-color: rgb(100, 100, 100, 0.4);
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
    text-decoration: none;
}

.main_text a:hover {
    filter: brightness(75%);
}

.down_arrow {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    bottom: 0;
    margin: 20px 0;
    cursor: pointer;

    font-family: sans-serif;
    color: rgb(255, 255, 255, 0.2);
    font-size: 30px;

    animation: bobbing 2s infinite ease-in-out;
}

/* screen2 */

.screen2 {
    height: 100vh;
    background-color: rgb(25, 25, 25);
}

/* Animations */

@keyframes bobbing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}