/* Body & Html */
html {
    scroll-behavior: smooth;
    cursor: default;
}

body {
    margin: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(20, 20, 20);
}

/* Header */
header {
    height: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: default;
}

header .name {
    margin: 0 25px;
    position: absolute;
    left: 100px;
    font-size: 30px;
    font-weight: 300;
}

header nav {
    position: absolute;
    right: 100px;
    display: flex;
}

header nav a {
    margin: 0 25px;
    transition: 0.1s;
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
}

header nav img {
    transition: 0.2s;
    display: none;
    filter: invert(100%);
    width: 30px;
}

header nav img:hover {
    filter: invert(30%);
}

header nav a:hover,
header nav a.selected {
    color: rgba(255, 255, 255, 0.5);
}

/* About page */
.screen1,
.screen2,
.screen3,
.screen4 {
    height: 100vh;
}

.screen1 {
    background-color: rgb(35, 35, 35);
}

.screen1 .main_text {
    position: absolute;
    top: 40vh;
    left: 15vw;
    width: 430px;
    font-size: 20px;
    font-weight: lighter;
}

.screen1 .main_title {
    font-size: 40px;
    font-weight: 300;
    color: rgb(120, 120, 200);
}

.main_text nav {
    padding-top: 15px;
}

.screen1 .main_text nav a {
    transition: 0.2s;
    margin-right: 5px;
    padding: 12px 20px;
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 7px;
    border: none;
    color: white;
    font-weight: 100;
    font-size: 16px;
    text-decoration: none;
}

.screen1 .main_text nav a:hover {
    filter: brightness(75%);
}

.me_image {
    position: absolute;
    bottom: 45vh;
    right: 15vw;
    color: rgb(120, 120, 200);
    font-size: 50px;
}

.move_arrow {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    cursor: pointer;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
    text-decoration: none;
    animation: bobbing 2s infinite ease-in-out;
}

.screen2 {
    background-color: rgb(30, 30, 30);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen2 .screen2_title {
    font-size: 50px;
    font-weight: 100;
    text-decoration: underline 2px;
    text-align: center;
    padding-bottom: 75px;
}

.screen2 .cards {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.screen2 .card {
    margin: 0 5vw;
    border-radius: 20px;
    width: 200px;
    font-size: 20px;
}

.screen2 .card img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.screen2 .card_title {
    padding: 20px;
    font-size: 30px;
    font-weight: 100;
    text-decoration: underline 1px;
    text-align: center;
}

.item {
    margin-left: 44px;
    padding-bottom: 5px;
}

/* screen3 */

.screen3 {
    position: relative;
    background-color: rgb(25, 25, 25);
}

.screen3_title {
    font-size: 50px;
    font-weight: 100;
    margin-left: 200px;
    padding-top: 100px;
}

.timeframe_holder {
    margin-left: 200px;

}

.timeframe {
    background-color: rgb(255, 255, 255, 0.05);
    width: 500px;
    height: 250px;
    border-radius: 20px;
    margin: 25px;
    margin-left: 0;
}

.timeframe_title {
    font-size: 40px;
    margin-left: 30px;
    padding-top: 10px;
    font-weight: 300;
}

.timeframe_content {
    font-weight: 100;
    margin-left: 30px;
}

.timeframe_content_title {
    text-decoration: underline;
}

/* screen4 */
.screen4 {
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    position: relative;
}

.screen4 .contact {
    position: relative;
    margin: auto;
    width: 900px;
    height: 700px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 100;
}

.screen4 .screen4_title {
    padding: 30px 75px;
    padding-bottom: 0;
    font-size: 50px;
    font-weight: 100;
}

.screen4 form {
    padding: 20px 75px;
    margin-bottom: 0;
}

.screen4 form input,
.screen4 form .message_input {
    background-color: transparent;
    border: 2px solid rgb(94, 94, 94);
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    font-size: 15px;
}

.screen4 form .name_input,
.screen4 form .email_input {
    height: 40px;
    margin-bottom: 10px;
}

.screen4 form .message_input {
    height: 200px;
    resize: none;
}

.screen4 .button_aligner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.screen4 .send_button {
    height: 75px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(80, 80, 80, 0.1);
    border: 2px solid rgb(94, 94, 94);
    color: white;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

/* Works Screen */

.announcement_works {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

/* Animations */
@keyframes bobbing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

/* Responsiveness */

@media (max-width: 1350px) {
    .me_image {
      display: none;
    }
}

@media (max-width: 1350px) {
    .screen3_title, .timeframe, .timeframe_holder {
        margin: auto;
    }

    .screen3_title {
        text-align: center;
        padding-bottom: 50px;
    }

    .announcement_works {
        font-size: 7vw;
    }
}

@media (max-width: 850px) {
    header nav span {
        display: none;
    }

    header nav img {
        display: block;
    }

    .screen2 .cards {
        display: block;
    }

    .screen2 .card {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
    }

    .screen2 .card_title {
        text-align: left;
        width: 90%;
    }

    .item {
        margin-left: 20px;
    }

}

@media (max-width: 740px) {

    .name {
        display: none;
    }

    header {
        justify-content: center;
    }

    header nav {
        position: static;
    }

}

@media (max-width: 600px) {

    .screen1 .main_text {
        position: static;
        left: 0;
        padding: 20px;
        text-align: center;
    }

    .screen1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: inline-block;
    }

    .screen2 .card {
        width: 90vw;
    }

    .timeframe {
        width: 80vw;
        padding-right: 30px;
    }
}

@media (max-width: 430px) {

    .screen4_title {
        text-align: center;
    }

    .screen4 .send_button {
        width: 70vw;
    }
}

@media (max-width: 400px) {

    .screen1 .main_text {
        position: static;
        left: 0;
        padding: 20px;
        text-align: center;
    }

    .screen1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        display: inline-block;
    }

    .screen2 .card {
        width: 90vw;
    }

    .timeframe {
        text-align: center;
    }

    .screen3_title {
        font-size: 12vw;
    }
}